@import 'grid'
@import 'fonts'
@import 'colors'

body 
    +light
    font-size: 14px
    line-height: 120%
.button-o
    border: 2px solid $lightBlue
    text-transform: uppercase
    padding: 15px 20px
    background-color: transparent
    color: $lightBlue
    font-size: 12px
    +bold
@media (max-width: 350px)
    .button-o
        font-size: 10px
@import 'blocks/navbar'
@import 'blocks/hero'
@import 'blocks/offer'
.button
    background-color: $lightBlue
    border: none
    padding: 25px 45px
    +bold
    color: #ffffff
    font-size: 15px
    text-transform: uppercase
.input
    border: 1px solid #dddddd
    padding: 30px


