<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Скиналли
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
    body
        header.header
            .navbar
                .container
                    .navbar__inner
                        button.menu-button.navbar__menu
                            span.menu-button__line
                            span.menu-button__line
                            span.menu-button__line
                        .navbar__logo.logo
                            strong.logo__text Фабрика скинали №1
                            span.logo__description ведущий производитель скинали
                        .navbar__mobile 
                            a(href="tel:79121234567").navbar__phone +7 912 123-45-67
                            span.navbar__work-hours без выходных 9-21
                        .navbar__landline 
                            a(href="tel:74991234567").navbar__phone +7 499 123-45-67
                            a(href="mailto:info@mail.cu").navbar__email info@mail.cu
                        button.button-o.navbar__button Получить консультацию

