<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Скиналли
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
    body
        header.header
            //- .menu
            //-     .menu-wrap
            //-         nav.menu__nav.menu_active
            //-             a.menu__link(href="#") Главная 
            //-             a.menu__link(href="#") продукция
            //-             a.menu__link(href="#") каталог
            //-             a.menu__link(href="#") примеры работ
            //-             a.menu__link(href="#") примерка изображений
            //-             a.menu__link(href="#") стоимость дилерам
            //-             a.menu__link(href="#") о скинали
            .navbar
                .container
                    .navbar__inner
                        button.menu-button.navbar__menu
                            span.menu-button__line
                            span.menu-button__line
                            span.menu-button__line
                        .navbar__logo.logo
                            strong.logo__text Фабрика скинали №1
                            span.logo__description ведущий производитель скинали
                        .navbar__mobile 
                            a(href="tel:79121234567").navbar__phone +7 912 123-45-67
                            span.navbar__work-hours.navbar__smalltext без выходных 9-21
                        .navbar__landline 
                            a(href="tel:74991234567").navbar__phone +7 499 123-45-67
                            a(href="mailto:info@mail.cu").navbar__email.navbar__smalltext info@mail.cu
                        button.button-o.navbar__button Получить консультацию
            section.hero
                .container
                    .hero__inner
                        h1.hero__title Гарантия <br> минимальной цены<br> на скинали
                        p.hero__text от 3 000 р/м2
                        button.button.hero__button Заказать скинали
        main
            section.offer.bg-secondary
                .container
                    .offer__inner.offer-block
                        h2.offer__title оставьте заявку на расчет
                        p.offer__text и получите скидку 30% на изготовление скинали или фартука для кухни
                        form.form.offer__form
                            .form__row
                                .form__group
                                    label(for="").form__label Вид стекла
                                    input(type="text").input.form__input
                                .form__group
                                    label(for="").form__label Ширина, см                                                 
                                    input(type="text").input.form__input
                                .form__group
                                    label(for="").form__label Высота, см                                                  
                                    input(type="text").input.form__input.form-border
                            .form__row.checkbox__row
                                .form__group.checkbox__group
                                    input(type="checkbox" id="setup").input.form__checkbox
                                    label(for="setup").form__label.checkbox__label Монтаж
                                .form__group.checkbox__group
                                    input(type="checkbox" id="delivery").input.form__checkbox
                                    label(for="delivery").form__label.checkbox__label Доставка
                            .form__row
                                .form__group.form__group-btn
                                    input(type="text" placeholder="Ваше имя").input.form__input
                                .form__group
                                    input(type="tel" placeholder="Ваш телефон").input.form__input
                                .form__group
                                    input(type="submit" value="получить скидку").button.form__button
            section.features
                .container
                    .features__inner.features-block
                        h2.section__title наши преимущества
                        ul.features__list
                            li.features__item
                                img(src="img/feature-1.png", alt="").features__item-img
                                p.features__item-text Бесплатный<br> дизайн-макет
                            li.features__item
                                img(src="img/feature-2.png", alt="").features__item-img
                                p.features__item-text Пожизненная<br> гарантия
                            li.features__item
                                img(src="img/feature-3.png", alt="").features__item-img
                                p.features__item-text Большой <br> каталог изображений
                            li.features__item
                                img(src="img/feature-4.png", alt="").features__item-img
                                p.features__item-text 100% соблюдение <br>сроков
                            li.features__item
                                img(src="img/feature-5.png", alt="").features__item-img
                                p.features__item-text Собственное <br>производство
                            li.features__item
                                img(src="img/feature-6.png", alt="").features__item-img
                                p.features__item-text  Минимальная цена в городе <br>от 1600 р метр
            section.catalogue
                .container
                    .catalogue__inner.catalogue-block
                        h2.section__title каталог скинали
                        ul.catalogue__list
                            li.catalogue__item
                                img(src="img/catalogue-1.png", alt="")
                                span.catalogue__genre коллажи
                                .catalogue__buttons
                                    button.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-2.png", alt="")
                                span.catalogue__genre Авторская коллекция
                                .catalogue__buttons
                                    button.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-3.png", alt="")
                                span.catalogue__genre коллажи
                                .catalogue__buttons
                                    button.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-4.png", alt="")
                                span.catalogue__genre Авторская коллекция
                                .catalogue__buttons
                                    button.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-5.png", alt="")
                                span.catalogue__genre коллажи
                                .catalogue__buttons
                                    button.catalogue-btn.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue-btn.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-6.png", alt="")
                                span.catalogue__genre абстракция
                                .catalogue__buttons
                                    button.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-7.png", alt="")
                                span.catalogue__genre коллажи
                                .catalogue__buttons
                                    button.catalogue-btn.catalogue__try-on Примерить онлайн
                                    button.catalogue-btn.catalogue__order Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-8.png", alt="")
                                span.catalogue__genre абстракция
                                .catalogue__buttons
                                    button.catalogue-btn.catalogue__try-on Примерить онлайн
                                    button.catalogue-btn.catalogue__order Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                        .catalogue__link
                            a(href="#").catalogue-link смотреть весь каталог скинали
                        p.catalogue__text Более 3000 изображений скинали в 25 рубриках
            section.blog
                .container
                    .blog__inner.blog-block
                        .blog__text
                            p.blog__title Полезное или что важно знать о скинали...  
                            a(href="#").blog__link Читать все статьи
                        ul.blog__list
                            li.blog__item 
                                img(src="img/blog-1.png", alt="")
                                p.blog__item-title Виды стекла
                            li.blog__item 
                                img(src="img/blog-2.png", alt="")
                                p.blog__item-title Виды печати
                            li.blog__item 
                                img(src="img/blog-3.png", alt="")
                                p.blog__item-title Виды крепежа и монтажа 
                            li.blog__item 
                                img(src="img/blog-4.png", alt="")
                                p.blog__item-title Вопросы - Ответы
            section.products
                .container
                    .products__inner.products-block
                        h2.section__title цены и виды скинали
                        ul.products__list
                            li.products__item
                                img(src="img/product-1.jpg", alt="")
                                .products__card
                                    .products__desrc
                                        p.products__name Прозрачные  
                                        p.products__price от 3500 р/м2
                                    .products__link    
                                        a(href="#").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-2.jpg", alt="")
                                .products__card
                                    .products__desrc
                                        p.products__name Однотонные  
                                        p.products__price от 3500 р/м2
                                    .products__link    
                                        a(href="#").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-3.jpg", alt="")
                                .products__card
                                    .products__desrc
                                        p.products__name Полноцветные
                                        p.products__price от 3500 р/м2
                                    .products__link    
                                        a(href="#").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-4.jpg", alt="")
                                .products__card
                                    .products__desrc
                                        p.products__name Стекло ‘Optiwite’  
                                        p.products__price от 3500 р/м2
                                    .products__link    
                                        a(href="#").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-5.jpg", alt="")
                                .products__card
                                    .products__desrc
                                        p.products__name Зеркальные  
                                        p.products__price от 3500 р/м2
                                    .products__link    
                                        a(href="#").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-6.jpg", alt="")
                                .products__card
                                    .products__desrc
                                        p.products__name С подсветкой 
                                        p.products__price от 3500 р/м2
                                    .products__link    
                                        a(href="#").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-7.jpg", alt="")
                                .products__card
                                    .products__desrc
                                        p.products__name Световые панели  
                                        p.products__price от 3500 р/м2
                                    .products__link    
                                        a(href="#").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-8.jpg", alt="")
                                .products__card
                                    .products__desrc
                                        p.products__name Панно, картины  
                                        p.products__price от 3500 р/м2
                                    .products__link    
                                        a(href="#").products__btn.button Оставить заявку
            section.stages
                .container
                    .stages__inner.stages-block
                        h2.section__title этапы работ
                        ul.stages__list
                            li.stages__item
                                img(src="img/stage-1.png", alt="").stages__img
                                h4.stages__title Заявка
                                p.stages__text Вы оставляете заявку на нашем сайте или по телефону
                            li.stages__item
                                img(src="img/stage-2.png", alt="").stages__img
                                h4.stages__title Замер
                                p.stages__text Вы произвилите замер сами или наш специалист выезжает к вам
                            li.stages__item
                                img(src="img/stage-3.png", alt="").stages__img
                                h4.stages__title Договор
                                p.stages__text Вы оставляете заявку на нашем сайте или по телефону
                            li.stages__item
                                img(src="img/stage-4.png", alt="").stages__img
                                h4.stages__title Дизайн
                                p.stages__text Вы оставляете заявку на нашем сайте или по телефону
                            li.stages__item
                                img(src="img/stage-5.png", alt="").stages__img
                                h4.stages__title Производство
                                p.stages__text Вы оставляете заявку на нашем сайте или по телефону
                            li.stages__item
                                img(src="img/stage-6.png", alt="").stages__img
                                h4.stages__title Монтаж
                                p.stages__text Вы оставляете заявку на нашем сайте или по телефону
            //- section.slider
            //-     .container
            //-         .sleder__inner.slider-block
            //-             h2.section__title до и после
            //-             //- slider
            section.reviews
                .container
                    .reviews__inner.reviews-block
                        h2.section__title Отзывы наших клиентов
                        ul.reviews__list
                            li.revies__item
                                p.reviews__text  Девушка подобрала лучший вариант для меня, без первого взноса и с минимальной переплатой.<br> У Банка очень много способов погашения,и удобное мобильное приложение.
                                img(src="img/review-1.jpg", alt="").reviews__img
                                span.reviews-name Екатерина Иванова <br>Москва
                            li.revies__item
                                p.reviews__text  Очень часто мы сталкиваемся с недопониманием со стороны сотрудников банка, и иной раз идти не хочется...В очередной раз "навешают лапши на уши" и культурно пошлют.
                                img(src="img/review-2.jpg", alt="").reviews__img
                                span.reviews-name Екатерина Иванова <br>Москва
                            li.revies__item
                                p.reviews__text Хочу рассказать об опыте знакомства с Почта банком. Мне срочно были нужны деньги, а времени на сбор документов для кредита не было. Подруга посоветовала обратиться в офис Почта банка на ул. Тухачевского.
                                img(src="img/review-3.jpg", alt="").reviews__img
                                span.reviews-name Екатерина Иванова <br>Москва
            section.offer.bg-secondary
                .container
                    .offer-block.offer__block
                        h2.offer__title ищите где дешевле и лучше?
                        p.offer__text.offer-text Если у Вас уже есть расчет от другой фирмы, но Вы хотите цену дешевле, укажите ее - и мы вам пересчитаем заказ с максимальной скидкой
                        form.form.offer__form
                            .form__row
                                .form__group
                                    input(type="text" placeholder="Ваше имя").input.form__input
                                .form__group
                                    input(type="tel" placeholder="Ваш телефон").input.form__input
                                .form__group
                                    input(type="text" placeholder="Ваша цена").input.form__input.form-border
                            .form__row.form__row-text
                                .form__group
                                    input(type="submit" value="получить скидку").button.form__button
                                .form__group-text
                                    span.form-text Ваши данные надежно защищены. 
                                    span.form-text Отправление заявки ни к чему не обязывает.
            section.production
                .container
                    .production-block
                        h2.section__title о производстве
                        .production__content
                            .production__img
                                img(src="img/production.jpg", alt="").production-img
                            .production__text
                                p.production-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                p.production-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
            section.contacts
                .container
                    .contacts__inner.contacts-block
                        h2.section__title Контакты
                        ul.contacts__list
                            li.contacts__item
                                img(src="img/phone-icon.png", alt="")
                                p.contacts__text +7 499 123-45-67
                            li.contacts__item
                                img(src="img/map-icon.png", alt="")
                                p.contacts__text Каширинское шоссе, д. 23, офис 345
                            li.contacts__item
                                img(src="img/mail-icon.png", alt="")
                                p.contacts__text 5404177@mail.ru
            //- конструктор карт яндекс 
            .map#map
                script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6a3800b4d9f1cd0405a0fb143e2aeeddc662b2fff91310b04536011baf4344bc&amp;width=100%25&amp;height=410&amp;lang=ru_RU&amp;scroll=false")
        //-     section.questions
        //-         .container
        //-             .questions-block
        //-                 .questions__content
        //-                     p.questions__text Остались вопросы?
        //-                     a(href="#").questions__link Задайте их менеджеру
        //- footer.footer
        //-     .container
        //-         .footer-block
        //-             .footer__left
        //-                 .footer__logo 
        //-                     strong.footer__logo-text Фабрика скинали №1
        //-                     span.footer__logo-description ведущий производитель скинали
        //-                 .footer__copy 
        //-                     p.footer__copy-text &copy; Фабрика скинали №1
        //-             .footer__middle
        //-                 ul.footer__list
        //-                     li.footer__item 
        //-                         img(src="img/webmoney.png", alt="")
        //-                     li.footer__item 
        //-                         img(src="img/yandex.png", alt="")
        //-                     li.footer__item 
        //-                         img(src="img/master-card.png", alt="")
        //-                     li.footer__item 
        //-                         img(src="img/visa.png", alt="")
        //-             .footer__right
        //-                 p.footer__phone +7 499 123-45-67
        //-                 p.footer__mail 5404177@mail.ru
        //-                 ul.footer__social-list
        //-                     li.footer__social-item
        //-                         img(src="img/twitter-icon.png", alt="").footer__social-img
        //-                     li.footer__social-item
        //-                         img(src="img/facebook-icon.png", alt="").footer__social-img
        //-                     li.footer__social-item
        //-                         img(src="img/vk-icon.png", alt="").footer__social-img

                             
                                 


                                



        //- script(type="text/javascript" src="https://spikmi.com/Widget?Id=2030")

