<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Скиналли
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
    body
        header.header
            //- .menu
            //-     .menu-wrap
            //-         nav.menu__nav.menu_active
            //-             a.menu__link(href="#") Главная 
            //-             a.menu__link(href="#") продукция
            //-             a.menu__link(href="#") каталог
            //-             a.menu__link(href="#") примеры работ
            //-             a.menu__link(href="#") примерка изображений
            //-             a.menu__link(href="#") стоимость дилерам
            //-             a.menu__link(href="#") о скинали
            .navbar
                .container
                    .navbar__inner
                        button.menu-button.navbar__menu
                            span.menu-button__line
                            span.menu-button__line
                            span.menu-button__line
                        .navbar__logo.logo
                            strong.logo__text Фабрика скинали №1
                            span.logo__description ведущий производитель скинали
                        .navbar__mobile 
                            a(href="tel:79121234567").navbar__phone +7 912 123-45-67
                            span.navbar__work-hours.navbar__smalltext без выходных 9-21
                        .navbar__landline 
                            a(href="tel:74991234567").navbar__phone +7 499 123-45-67
                            a(href="mailto:info@mail.cu").navbar__email.navbar__smalltext info@mail.cu
                        button.button-o.navbar__button Получить консультацию
            section.hero
                .container
                    .hero__inner
                        h1.hero__title Гарантия <br> минимальной цены<br> на скинали
                        p.hero__text от 3 000 р/м2
                        button.button.hero__button Заказать скинали
        main
            section.offer
                .container
                    .offer__inner.offer-block
                        h2.offer__title оставьте заявку на расчет
                        p.offer__text и получите скидку 30% на изготовление скинали или фартука для кухни
                        form.form.offer__form
                            .form__row
                                .form__group
                                    label(for="").form__label Вид стекла
                                    input(type="text").input.form__input
                                .form__group
                                    label(for="").form__label Ширина, см                                                 
                                    input(type="text").input.form__input
                                .form__group
                                    label(for="").form__label Высота, см                                                  
                                    input(type="text").input.form__input
                            .form__row
                                .form__group
                                    input(type="checkbox").input.form__input
                                    label(for="").form__label Монтаж
                                .form__group
                                    input(type="checkbox").input.form__input
                                    label(for="").form__label Доставка
                            .form__row
                                .form__group
                                    input(type="text" placeholder="Ваше имя").input.form__input
                                    input(type="tel" placeholder="Ваш телефон").input.form__input
                                    input(type="submit" value="получить скидку").button
                                
                                    
                                                                            
                                    
                                



        script(type="text/javascript" src="https://spikmi.com/Widget?Id=2030")

