<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Скиналли
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
    body
        header.header
            //- .menu
            //-     .menu-wrap
            //-         nav.menu__nav.menu_active
            //-             a.menu__link(href="#") Главная 
            //-             a.menu__link(href="#") продукция
            //-             a.menu__link(href="#") каталог
            //-             a.menu__link(href="#") примеры работ
            //-             a.menu__link(href="#") примерка изображений
            //-             a.menu__link(href="#") стоимость дилерам
            //-             a.menu__link(href="#") о скинали
            .navbar
                .container
                    .navbar__inner
                        button.menu-button.navbar__menu
                            span.menu-button__line
                            span.menu-button__line
                            span.menu-button__line
                        .navbar__logo.logo
                            strong.logo__text Фабрика скинали №1
                            span.logo__description ведущий производитель скинали
                        .navbar__mobile 
                            a(href="tel:79121234567").navbar__phone +7 912 123-45-67
                            span.navbar__work-hours.navbar__smalltext без выходных 9-21
                        .navbar__landline 
                            a(href="tel:74991234567").navbar__phone +7 499 123-45-67
                            a(href="mailto:info@mail.cu").navbar__email.navbar__smalltext info@mail.cu
                        button.button-o.navbar__button Получить консультацию
            section.hero
                .container
                    .hero__inner
                        h1.hero__title Гарантия <br> минимальной цены<br> на скинали
                        p.hero__text от 3 000 р/м2
                        button.button.hero__button Заказать скинали
        main
            section.offer
                .container
                    .offer__inner.offer-block
                        h2.offer__title оставьте заявку на расчет
                        p.offer__text и получите скидку 30% на изготовление скинали или фартука для кухни
                        form.form.offer__form
                            .form__row
                                .form__group
                                    label(for="").form__label Вид стекла
                                    input(type="text").input.form__input
                                .form__group
                                    label(for="").form__label Ширина, см                                                 
                                    input(type="text").input.form__input
                                .form__group
                                    label(for="").form__label Высота, см                                                  
                                    input(type="text").input.form__input.form-border
                            .form__row.checkbox__row
                                .form__group.checkbox__group
                                    input(type="checkbox" id="setup").input.form__checkbox
                                    label(for="setup").form__label.checkbox__label Монтаж
                                .form__group.checkbox__group
                                    input(type="checkbox" id="delivery").input.form__checkbox
                                    label(for="delivery").form__label.checkbox__label Доставка
                            .form__row
                                .form__group.form__group-btn
                                    input(type="text" placeholder="Ваше имя").input.form__input.form-border
                                    input(type="tel" placeholder="Ваш телефон").input.form__input.form-border
                                    input(type="submit" value="получить скидку").button.form__button
            section.features
                .container
                    .features__inner.features-block
                        h2.section__title наши преимущества
                        ul.features__list
                            li.features__item
                                img(src="img/feature-1.png", alt="").features__item-img
                                p.features__item-text Бесплатный<br> дизайн-макет
                            li.features__item
                                img(src="img/feature-2.png", alt="").features__item-img
                                p.features__item-text Пожизненная<br> гарантия
                            li.features__item
                                img(src="img/feature-3.png", alt="").features__item-img
                                p.features__item-text Большой <br> каталог изображений
                            li.features__item
                                img(src="img/feature-4.png", alt="").features__item-img
                                p.features__item-text 100% соблюдение <br>сроков
                            li.features__item
                                img(src="img/feature-5.png", alt="").features__item-img
                                p.features__item-text Собственное <br>производство
                            li.features__item
                                img(src="img/feature-6.png", alt="").features__item-img
                                p.features__item-text  Минимальная цена в городе <br>от 1600 р метр
            section.catalogue
                .container
                    .catalogue__inner.catalogue-block
                        h2.section__title каталог скинали
                        ul.catalogue__list
                            li.catalogue__item
                                img(src="img/catalogue-1.png", alt="")
                                span.catalogue__genre коллажи
                                .catalogue__buttons
                                    button.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-2.png", alt="")
                                span.catalogue__genre Авторская коллекция
                                .catalogue__buttons
                                    button.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-3.png", alt="")
                                span.catalogue__genre коллажи
                                .catalogue__buttons
                                    button.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-4.png", alt="")
                                span.catalogue__genre Авторская коллекция
                                .catalogue__buttons
                                    button.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-5.png", alt="")
                                span.catalogue__genre коллажи
                                .catalogue__buttons
                                    button.catalogue-btn.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue-btn.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-6.png", alt="")
                                span.catalogue__genre абстракция
                                .catalogue__buttons
                                    button.catalogue__try-on.catalogue-btn Примерить онлайн
                                    button.catalogue__order.catalogue-btn Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-7.png", alt="")
                                span.catalogue__genre коллажи
                                .catalogue__buttons
                                    button.catalogue-btn.catalogue__try-on Примерить онлайн
                                    button.catalogue-btn.catalogue__order Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                            li.catalogue__item
                                img(src="img/catalogue-8.png", alt="")
                                span.catalogue__genre абстракция
                                .catalogue__buttons
                                    button.catalogue-btn.catalogue__try-on Примерить онлайн
                                    button.catalogue-btn.catalogue__order Заказать
                                    button.catalogue__save
                                        img(src="img/heart.png", alt="").catalogue__save-img
                        .catalogue__link
                            a(href="#").catalogue-link смотреть весь каталог скинали
                        p.catalogue__text Более 3000 изображений скинали в 25 рубриках
            section.blog
                .container
                    .blog__inner.blog-block
                        .blog__text
                            p.blog__title Полезное или что важно знать о скинали...  
                            a(href="#").blog__link Читать все статьи
                        ul.blog__list
                            li.blog__item 
                                img(src="img/blog-1.png", alt="")
                                p.blog__item-title Виды стекла
                            li.blog__item 
                                img(src="img/blog-2.png", alt="")
                                p.blog__item-title Виды печати
                            li.blog__item 
                                img(src="img/blog-3.png", alt="")
                                p.blog__item-title Виды крепежа и монтажа 
                            li.blog__item 
                                img(src="img/blog-4.png", alt="")
                                p.blog__item-title Вопросы - Ответы
            section.products
                .container
                    .products__inner.products-block
                        h2.section__title цены и виды скинали
                        ul.products__list
                            li.products__item
                                img(src="img/product-1.jpg", alt="")
                                .products__desrc
                                    p.products__name Прозрачные  
                                    p.products__price от 3500 р/м2
                                .products__link    
                                    a(href="").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-2.jpg", alt="")
                                .products__desrc
                                    p.products__name Однотонные  
                                    p.products__price от 3500 р/м2
                                .products__link    
                                    a(href="").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-3.jpg", alt="")
                                .products__desrc
                                    p.products__name Полноцветные
                                    p.products__price от 3500 р/м2
                                .products__link    
                                    a(href="").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-4.jpg", alt="")
                                .products__desrc
                                    p.products__name Стекло ‘Optiwite’  
                                    p.products__price от 3500 р/м2
                                .products__link    
                                    a(href="").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-5.jpg", alt="")
                                .products__desrc
                                    p.products__name Зеркальные  
                                    p.products__price от 3500 р/м2
                                .products__link    
                                    a(href="").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-6.jpg", alt="")
                                .products__desrc
                                    p.products__name С подсветкой 
                                    p.products__price от 3500 р/м2
                                .products__link    
                                    a(href="").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-7.jpg", alt="")
                                .products__desrc
                                    p.products__name Световые панели  
                                    p.products__price от 3500 р/м2
                                .products__link    
                                    a(href="").products__btn.button Оставить заявку
                            li.products__item
                                img(src="img/product-8.jpg", alt="")
                                .products__desrc
                                    p.products__name Панно, картины  
                                    p.products__price от 3500 р/м2
                                .products__link    
                                    a(href="").products__btn.button Оставить заявку
            section.stages
                .container
                    .stages__inner.stages-block
                        h2.section__title этапы работ
                        ul.stages__list
                            li.stages__item
                                img(src="", alt="").stages__img
                                p.stages__text 
                                
                                    
                                                                            
                                 


                                



        script(type="text/javascript" src="https://spikmi.com/Widget?Id=2030")

