.navbar
    &__inner
        display: flex
        align-items: center
        min-height: 80px
    &__menu
        margin-right: 30px
    &__
.menu
    &-button
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: transparent
        border: none
        border-right: 1px solid #ede6f8
        border-left: 1px solid #ede6f8
        height: 80px
        width: 70px
        &__line
            background-color: #507fe1
            height: 3px
            width: 20px
            margin-bottom: 5px
            &:last-child
                margin-bottom: 0
.logo
    &__text
        display: block
        +bold
        font-size: 18px
        text-transform: uppercase
        // +bold
        // font-size: 18px
        // color: rgb(38, 38, 38)
        // text-transform: uppercase
        // line-height: 120%

