.navbar
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: #ffffff
    &__inner
        display: flex
        align-items: center
        justify-content: space-between
    &__phone
        display: block
        font-size: 19px
        margin-bottom: 5px
        +bold
        color: $text-color
        text-transform: uppercase
        text-align: right
        text-decoration: none
    &__smalltext
        display: block
        color: $text-color-light
        text-align: right
    &__email
        text-decoration: underline
    &__button
 
.menu
    position: fixed
    top: 80px
    width: 100%
    background-color: $lightBlue
    transition: 0.2s
    transform: translateY(-200%)
    opacity: 0
    &-wrap
        width: 1170px
        margin: 0 auto
    &_active
        transform: translateY(0)
        opacity: 1
    &__nav
        padding: 12px 42px 
        padding-right: 15px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        align-items: center
    &__link
        font-size: 17px
        line-height: 25px
        color: #ffffff
        text-transform: uppercase
        text-decoration: none
    &-button
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: transparent
        border: none
        border-right: 1px solid #ede6f8
        border-left: 1px solid #ede6f8
        height: 80px
        width: 70px
        &__line
            background-color: #507fe1
            height: 3px
            width: 20px
            margin-bottom: 5px
            &:last-child
                margin-bottom: 0
.logo
    &__text
        display: block
        +bold
        font-size: 18px
        text-transform: uppercase
        color: $text-color
        margin-bottom: 5px
    &__description
        font-size: 14px
        color: #6b6b6b
        display: block
@media (max-width: 1199px)
    .menu
        &-wrap
            max-width: 960px
        &__nav
            flex-direction: column
        &__link
            margin-bottom: 20px
@media (max-width: 991px)
    .navbar
        &__mobile, &__landline
            display: none
    .menu
        &-wrap
            max-width: 890px
@media (max-width: 576px)
    .logo
        display: none
    .menu
        transform: translateY(0) 
        &-wrap
            max-width: 100%
        &-button
            height: 60px
       
