.offer
    background-color: $bg-primary
    &-block
        background-color: $bg-secondary
        padding: 82px 80px
    &__title
        font-size: 25px
        +bold
        text-transform: uppercase
    &__text
        font-size: 24px
        margin-top: 30px
    &__form
        margin-top: 40px

.form
    &__row
        display: flex
        justify-content: space-between
        align-items: center
