.offer
    padding: 129px 0
    background-color: #ffffff
    &-block
        background-color: $bg-primary
        background-image: url('../img/form-bg.jpg')
        background-repeat: no-repeat
        background-position: top right
        background-size: contain
        padding: 82px 80px
        box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1)
        margin-top: -229px
        // margin-bottom: 130px
    &__block
        background-image: url('../img/form-bg-2.png')
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1)
    &__title
        font-size: 25px
        +bold
        text-transform: uppercase
    &__text
        font-size: 21px
        margin-top: 30px
    &-text
        max-width: 830px
        line-height: 24px
    &__form
        margin-top: 40px
@media (max-width: 1199px)
    .offer
        &-block
            background-position: center right -220px
@media (max-width: 992px)
    .offer
        &-block
            background-image: none
        &__text
            line-height: 25px
            margin-top: 20px
        &__title
            line-height: 29px
.form
    &__row
        display: flex
        align-items: center
        justify-content: center
        max-width: 900px
        &-text
            justify-content: flex-start
    &__group
        flex-basis: 33.33%
        display: flex
        flex-wrap: wrap
        &-text
            margin-left: 45px
            margin-top: 20px
    &__label
        font-size: 17px
        display: block
    &__input
        margin-top: 22px
        width: 100%
        height: 80px
        option
            font-size: 
    &__button
        width: 300px
        height: 80px
        margin-top: 22px
        cursor: pointer
    &-text
        display: block
        font-size: 17px
        line-height: 24px
.checkbox
    &__row
        margin-top: 25px
    &__group
        margin-right: 42px
        display: flex
        align-items: center
        height: 30px
    &__label
        display: flex
        position: relative
        align-items: center
        &:hover
            cursor: pointer
        &::before
            content: ""
            width: 30px
            height: 30px
            border: 1px solid #dddddd
            margin-right: 20px
input[type="checkbox"]
    display: none
    &:checked + label::before
        background-color: $lightBlue
input::placeholder,
select
    font-size: 17px
    +light
@media (max-width: 992px)
    .input 
        border-right-width: 1px
    .form
        &__group
            flex-basis: 100%
            width: 100%
            &-text
                text-align: center
        &__input
            margin: 15px 0
        &__button
            width: 100%
        &__row
            flex-direction: column
    .checkbox
        &__row
            flex-direction: row
            margin: 20px 0
@media (max-width: 576px)  
    .offer
        &-block
            padding: 62px 70px
            margin-bottom: 90px
    .checkbox
        &__row
            flex-direction: column
            margin: 15px 0 0
        &__group
            margin-right: 0
            margin-bottom: 15px
        