.production
    background-color: $bg-primary
    &-block
        padding: 75px 0 95px
    &__content
        display: flex
        justify-content: center
        margin-top: 95px
        flex-wrap: wrap
    &__text
        max-width: 520px
        margin-left: 73px
        font-size: 20px
        line-height: 24px
    &-text
        margin-bottom: 40px
@media (max-width: 1199px)
    .production
        &__content
            margin-top: 70px
        &__img
            margin-bottom: 30px
        &__text
            margin-left: 50px
@media (max-width: 1199px)
    .production
        &__text
            margin-left: 0
@media (max-width: 768px)
    .production
        &__content
            margin-top: 70px
        &__text
            margin-left: 0
            margin-top: 30px

